*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.parent{
    position: relative;
    
}
.child{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    
}
h1{
    text-align: center ;
    letter-spacing: 1.5px;
    padding-bottom: 6px;
    border-bottom: 2px solid rgb(233, 32, 58);
   
}


.form{
    border: 1px solid rgb(100, 98, 98);
    box-shadow: 3px solid rgb(100, 98, 98) inset;
    padding: 8px;
    width: 400px;
    border-radius: 4px;
    border-top: 4px solid rgb(233, 32, 58);
}
input{
    width: 98.7%;
    border: 1px solid grey;
    border-radius: 2px;
    outline:none;
    
}
button{
    width:100%;
    margin-top: 12px;
    background-color: rgb(233, 32, 58);
    border-color: rgb(233, 32, 58);
    color: antiquewhite;
    border-width: 0px;
    padding: 6px;
    cursor: pointer;
}
.text{
    text-align: center;
}

.login{
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}